{% extends "template.html" %}
{% block titulo %} 
{{configs.title}}
{% endblock %}


{% block content %}
<div class="app-content">
  <!--begin::Container-->
  <div class="container-fluid">
    <!--begin::Row-->
    <div class="row">
      <!--begin::Col-->
      <div class="col-sm-2 col-1">
        <div class="small-box text-bg-primary">
            <div class="inner">
                <h3>55</h3>
                <p>Tareas Pendientes</p>
            </div>
            <div class="small-box-icon d-flex justify-content-center align-items-center">
                <i class="bi bi-list-task"></i>
            </div>
            <a href="#"
                class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                Ver detalles <i class="bi bi-arrow-right-circle"></i>
            </a>
        </div>
    </div>
      <!--end::Col-->
      <div class="col-sm-2 col-1">
        <div class="small-box text-bg-success">
            <div class="inner">
                <h3>$10,320</h3>
                <p>Ingresos Mensuales</p>
            </div>
            <div class="small-box-icon d-flex justify-content-center align-items-center">
                <i class="bi bi-currency-dollar "></i>
            </div>
            <a href="#"
                class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                Más detalles <i class="bi bi-arrow-right-circle"></i>
            </a>
        </div>
        </div>
      <!--end::Col-->
      <div class="col-sm-2 col-1">
        <!--begin::Small Box Widget 3-->
        <div class="small-box text-bg-danger">
          <div class="inner">
              <h3>$4,580</h3>
              <p>Gastos del Mes</p>
          </div>
          <div class="small-box-icon d-flex ">
              <i class="bi bi-credit-card"></i>
          </div>
          <a href="#"
              class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
              Ver detalles <i class="bi bi-arrow-right-circle"></i>
          </a>
      </div>
        <!--end::Small Box Widget 3-->
      </div>
      <!--end::Col-->
      <div class="row">
        <div class="col-sm-6 col-1">
          <h3 class="mb-0"><i class="bi bi-currency-dollar"></i> Finanzas</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-2">
          <div class="small-box text-bg-success">
              <div class="inner">
                  <h3>$10,320</h3>
                  <p>Ingresos Mensuales</p>
              </div>
              <div class="small-box-icon d-flex justify-content-center align-items-center">
                  <i class="bi bi-currency-dollar "></i>
              </div>
              <a href="#"
                  class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                  Más detalles <i class="bi bi-arrow-right-circle"></i>
              </a>
          </div>
          </div>
        <!--end::Col-->
        <div class="col-sm-2 col-1">
          <!--begin::Small Box Widget 3-->
          <div class="small-box text-bg-danger">
            <div class="inner">
                <h3>$4,580</h3>
                <p>Gastos del Mes</p>
            </div>
            <div class="small-box-icon d-flex ">
                <i class="bi bi-credit-card"></i>
            </div>
            <a href="#"
                class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                Ver detalles <i class="bi bi-arrow-right-circle"></i>
            </a>
        </div>
      
      </div>
      
      <div class="row">
        <div class="col-sm-6">
          <h3 class="mb-0"><i class="bi bi-lungs"></i> Salud</h3>
        </div>
      </div>
      <div class="col-sm-2 col-1">
        <div class="small-box text-bg-info">
            <div class="inner">
                <h3>85 kg</h3>
                <p>Peso Actual</p>
            </div>
            <div class="small-box-icon d-flex justify-content-center align-items-center">
                <i class="bi bi-person"></i>  </div>
            <a href="#"
                class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                Ver detalles <i class="bi bi-arrow-right-circle"></i>
            </a>
        </div>
    </div>

    </div>
    <!--end::Row-->
    <!-- /.row (main row) -->
  </div>
  <!--end::Container-->
</div>

{% endblock %}


